// Button
.button {
  background-color: $primary-app-color;
  color: $text-white;
  height: 45px;
  min-width: 80px;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 5px;
  border-radius: 5px;
  border: 0px;
  font-family: $button-font;
  font-size: $button-font-size;
  font-weight: bold;
}

.button:hover {
  background-color: $hover;
  color: white;
}

.button-selected {
  background-color: $primary-app-color;
  color: white;
}



// Icon Button (Large)
$icon-large-container-size: 40px;
$icon-large-size: 40px;

.mat-icon-button.large {
  width: $icon-large-container-size;
  height: $icon-large-container-size;
  line-height: $icon-large-container-size;

  .mat-icon, .mat-icon-button i {
    line-height: $icon-large-size;
  }

  .mat-icon {
    width: $icon-large-size;
    height: $icon-large-size;
  }

  .material-icons {
    font-size: $icon-large-size;
  }

}

mat-icon:hover {
  color: $hover;
}
