@import "../../../../assets/scss/styles.scss";

// Main Component Containers
.container-main {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.container-recipes {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    .recipe-list {

    }

    .recipe-grid {

    }
}
