<div class="navigation-container"
     [class.is-mobile]="mobileQuery.matches"
     [ngClass]="{'dark-theme': isDarkTheme, 'light-theme': !isDarkTheme}">

  <!-- Top Nav Bar -->
  <mat-toolbar color="primary" class="toolbar">
    <mat-toolbar-row>

      <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>

      <!-- Nav Title -->
      <span class="app-name" (click)="GoHome()">Dirty Paws Cookbook</span>

      <!-- Nav Content -->
      <div class="fill-remaining-space">

      </div>

      <!-- App Theme Toggle -->
      <div style="padding-right: 35px;">
        <span class="dark-mode-label">Dark Mode</span>
        <mat-slide-toggle [checked]="isDarkTheme"
                          (change)="ToggleDarkTheme($event.checked)">
        </mat-slide-toggle>
      </div>

      <!-- Nav Right-side Buttons-->
      <button mat-raised-button
              (click)="SignOut()">
        Sign Out
      </button>

    </mat-toolbar-row>
  </mat-toolbar>

  <!-- Side Nav Bar -->
  <mat-sidenav-container class="sidenav-container"
                          [style.marginTop.px]="mobileQuery.matches ? 56 : 0">

    <mat-sidenav #sidenav
                  [mode]="mobileQuery.matches ? 'over' : 'side'"
                  [fixedInViewport]="mobileQuery.matches"
                  fixedTopGap="56">

      <mat-nav-list>

        <!-- Some seeded display data for now... -->
        <a mat-list-item routerLink="." *ngFor="let nav of fillerNav">{{nav}}</a>
      </mat-nav-list>

    </mat-sidenav>

    <mat-sidenav-content class="sidenav-content-container"
                         [ngClass]="{'dark-background': isDarkTheme}">

      <!-- This is our nested child routes for internal app screens -->
      <router-outlet></router-outlet>

    </mat-sidenav-content>
  </mat-sidenav-container>

</div>
