$main-white: white;
$main-black: black;

$primary-app-color: #014A53;
$primary-app-accent-color: #BBC4C9;

$primary-app-color-light: lighten($primary-app-color, 5%);
$hover: lighten($primary-app-color, 5%);

$border-gray: lighten(gray, 40%);

$darkmode-main-screen-color: lighten(black, 30%);
$lightmode-main-screen-color: darken(white, 10%);

// Screen Shades
$main-black-shade-dark: lighten($main-black, 15%);
$main-black-shade-light: lighten($main-black, 20%);

// Font Colors:
$text-white: darken(white, 7%);

$input-text: $text-white;
$input-text-focused: $text-white;
$field-name-text: $text-white;
$header-font-color: $text-white;

// Grid Colors
$header-text-color: $text-white;


.primary-app-background-color {
  background-color: $primary-app-color;
}

.light-to-black-gradient {
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, $main-black-shade-dark 45%);
}

.black-to-light-gradient {
  background: linear-gradient(90deg, $main-black-shade-dark 0%, rgba(255,255,255,1) 85%);
}
